.img {
    width: auto;
    transition: transform 0.3s ease;
}
.img_avatar {
    height: 128px;
}
.img_contact {
    height: 36px;
    display: inline-block;
    margin: 0 5px;
}
.img_gender {
    height: 26px;
}
.img_project {
    width: 95%;
    height: auto;
    border-radius: 15px;
}