@font-face{
    font-family: guoza;
    src: url('../source/font/guoza.ttf');
    font-stretch: normal;
}
@media only screen and (max-width: 1480px){
    #mainbody{
        display: none;
    }
}
@media only screen and (min-width: 1480px){
    #mainbody-m{
        display: none;
    }
}

*{
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: guoza;
    transition: 0.2s;
}
body{
    align-items: center;
}
hr{
    position: relative;
    top: 8%;
    left: 10%;
    width: 80%;
}
info{
    font-size: 120%;
    font-weight: normal;
}
copyright{
    font-size: 100%;
    font-weight: bold;
}
proj{
    font-size: 180%;
    font-weight: bold;   
}
tag{
    margin: 3px;
    padding: 3px;
    font-size: 120%;
    font-weight: normal;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.5);
    color: rgb(0,0,0);
}
img:hover{
    transform:scale(1.1);
}

.mainbox{
    border-radius: 25px;
    text-align: center;
}
.info{
    width: 50%;
    height: auto;
}
.projleft{
    text-align: right;
    width: 50%;
    height: auto;
}
.projright{
    text-align: left;
    width: 50%;
    height: auto;
}
.projimg{
    width: 90%;
    height: auto;
    border-radius: 5%;
    opacity: 80%;
}
.projt{
    width: 100%;
    height: auto;
    border-collapse: separate;
    border-spacing: 40px 30px;
}
.contact{
    margin: 3px;
}