.toggle-button{
    position: relative;
    width: 60px;
    height: 30px;
    margin: 0;
    vertical-align: top;
    background-color: rgba(138,138,138,0.5);  
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button::after{
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 25px;
    height: 25px;
    background-image: url(../source/img/button/sun.png);
    background-size: 25px;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button:checked::after{
    transform: translateX(calc(100% + 3px));
    background-image: url(../source/img/button/moon.png);
    background-size: 25px;
}
.toggle-button:checked{
    background-color: rgba(138,138,138,0.5);
}
.toggle-button:hover{
    background-color: rgba(177, 177, 177, 0.5);
}